<link rel="stylesheet" href="/css/custom-font.css">
<link rel="stylesheet" href="/css/overrides.css">
<meta name="go-import" content="dalton.dog/aocgo git https://github.com/DaltonSW/aocgo" />
<meta name="go-source" content="dalton.dog/aocgo http://github.com/DaltonSW/aocgo https://github.com/DaltonSW/aocgo/tree/main{/dir} https://github.com/DaltonSW/aocgo/blob/main{/dir}/{file}#L{line}">


{{ if .Params.customCSS }}
    <link rel="stylesheet" href="{{ "css/" | relURL }}{{ .Params.customCSS}}">
{{ end }}
