@font-face {
	font-family: 'MartianMono NF';
	font-style: normal;
	font-weight: 400;
	src: local('MartianMono NF'), url("/fonts/MartianMono-Regular.woff2") format('woff2');
}

@font-face {
	font-family: 'MartianMono NF';
	font-style: medium;
	font-weight: 500;
	src: local('MartianMono NF'), url("/fonts/MartianMono-Medium.woff2") format('woff2');
}

@font-face {
	font-family: 'MartianMono NF';
	font-style: bold;
	font-weight: 600;
	src: local('MartianMono NF'), url("/fonts/MartianMono-Bold.woff2") format('woff2');
}

@font-face {
	font-family: 'SauceCodePro NF';
	font-style: normal;
	font-weight: 400;
	src: local('SauceCodePro NF'), url("/fonts/SauceCode-Normal.woff2") format("woff2");
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), url("/fonts/Roboto-Normal.woff2") format("woff2");
}

