article {
	background-color: var(--default_bg) !important;

}

img {
	border-radius: 10px !important;
}

.card-div {
	background-color: var(--default_hl_bg) !important;
	padding: 0px 10px 3px;
	margin: 20px 0px;
	border-radius: 10px;
}
